.desktop-shortcut {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.desktop-shortcut img {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}
